<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
 	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
 	http://www.springframework.org/schema/mvc
 	http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
 	http://www.springframework.org/schema/context
 	http://www.springframework.org/schema/context/spring-context-4.0.xsd">

	<context:component-scan base-package="Studentpack1" />
     <context:component-scan base-package="com.mail" />
	<mvc:annotation-driven />

<mvc:resources location="/images/" mapping="images/**"/>

	<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">  
  <property name="host" value="smtp.gmail.com" />  
    <property name="username" value="portalstudentassessment@gmail.com" />  
    <property name="password" value="student12345" />  
    <property name="javaMailProperties">  
       <props>  
              <prop key="mail.smtp.auth">true</prop>  
              <prop key="mail.smtp.socketFactory.port">465</prop>  
              <prop key="mail.smtp.socketFactory.class">javax.net.ssl.SSLSocketFactory</prop>  
              <prop key="mail.smtp.port">465</prop>  
        </props>  
    </property>  
</bean>  
<bean id="mail1" class="com.mail.Mailwali">  
    <property name="mailSender" ref="mailSender" />  
</bean>  


	<bean id="ds" destroy-method="close"
		class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url"
			value="jdbc:mysql://localhost/student_assessment_portal" />
		<property name="username" value="root" />
		<property name="password" value="" />
	</bean>

	<bean id="xyz" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="ds" />
	</bean>

<bean id="multipartResolver"   
class="org.springframework.web.multipart.commons.CommonsMultipartResolver">

</bean>


	<!-- <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver"> 
		<property name="prefix"> <value>/WEB-INF/views/</value> </property> <property 
		name="suffix"> <value>.jsp</value> </property> </bean> -->



</beans>